<?xml version="1.0"?>
<config>
    <modules>
        <EasyTranslate_Connector>
            <version>0.0.1</version>
        </EasyTranslate_Connector>
    </modules>
    <global>
        <blocks>
            <easytranslate>
                <class>EasyTranslate_Connector_Block</class>
            </easytranslate>
        </blocks>
        <helpers>
            <easytranslate>
                <class>EasyTranslate_Connector_Helper</class>
            </easytranslate>
        </helpers>
        <models>
            <easytranslate>
                <class>EasyTranslate_Connector_Model</class>
                <resourceModel>easytranslate_resource</resourceModel>
            </easytranslate>
            <easytranslate_resource>
                <class>EasyTranslate_Connector_Model_Resource</class>
                <entities>
                    <project>
                        <table>easytranslate_project</table>
                    </project>
                    <project_target_store>
                        <table>easytranslate_project_target_store</table>
                    </project_target_store>
                    <project_product>
                        <table>easytranslate_project_product</table>
                    </project_product>
                    <project_category>
                        <table>easytranslate_project_category</table>
                    </project_category>
                    <project_cms_block>
                        <table>easytranslate_project_cms_block</table>
                    </project_cms_block>
                    <project_cms_page>
                        <table>easytranslate_project_cms_page</table>
                    </project_cms_page>
                    <task_queue>
                        <table>easytranslate_task_queue</table>
                    </task_queue>
                </entities>
            </easytranslate_resource>
        </models>
        <resources>
            <easytranslate_setup>
                <setup>
                    <module>EasyTranslate_Connector</module>
                </setup>
            </easytranslate_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <easytranslate>
                        <class>EasyTranslate_Connector_Model_Autoloader</class>
                        <method>createAndRegister</method>
                    </easytranslate>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <easytranslate_import>
                <schedule>
                    <!-- TODO think about proper schedule -->
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>easytranslate/cron_handler::handle</model>
                </run>
            </easytranslate_import>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <EasyTranslate_Connector after="Mage_Adminhtml">EasyTranslate_Connector_Adminhtml</EasyTranslate_Connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <easytranslate_connector>
                    <file>easytranslate.xml</file>
                </easytranslate_connector>
            </updates>
        </layout>
        <translate>
            <modules>
                <easytranslate>
                    <files>
                        <default>EasyTranslate_Connector.csv</default>
                    </files>
                </easytranslate>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <easytranslate>
                <use>standard</use>
                <args>
                    <module>EasyTranslate_Connector</module>
                    <frontName>easytranslate</frontName>
                </args>
            </easytranslate>
        </routers>
    </frontend>
    <default>
        <easytranslate>
            <api>
                <environment>sandbox</environment>
                <client_id/>
                <client_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <username/>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </api>
            <products>
                <attributes>name,short_description,description,meta_title,meta_description,url_key</attributes>
            </products>
            <categories>
                <attributes>name,description,meta_title,meta_description,url_key</attributes>
            </categories>
            <cms_blocks>
                <attributes>title,content</attributes>
            </cms_blocks>
            <cms_pages>
                <attributes>title,content,meta_description,content_heading</attributes>
            </cms_pages>
        </easytranslate>
    </default>
</config>
